.container-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #17bcfd;
    color: #fff;
    padding: 2% 6%;
    margin-top: 5%;

    .elementos {
        display: flex;
        flex-direction: column;

        h2 {
            font-weight: 700;
            margin-bottom: 5%;
        }
    }
}